# Files and folders to be ignored.

build/
dist/
mnemonic.egg-info/
.tox/
.python-version

# virtual env folder
env/*
.env/*
venv/*
.venv/*
envformosa/*
venvformosa/*

# cache folders and files
**/__pycache__/*
**.pyc

# edition folder
tools/edit_themes/*

# secret themes
src/mnemonic/themes/xxx.json
src/mnemonic/themes/drafts/xxx.ods
src/mnemonic/themes/drafts/xxx.py

# IDE folder
.idea/
