# Files and folders to be ignored.

build/
dist/
mnemonic.egg-info/
.tox/
.python-version

# virtual env folder
env/*
.env/*
venv/*
.venv/*
envformosa/*
venvformosa/*

# cache folders and files
**/__pycache__/*
**.pyc

# edition folder
tools/edit_themes/*

# IDE folder
.idea/
